.intro-content{

    display: grid;
    position: relative;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: (--gap);
    min-width: 100vh;
}

.intro-text-content{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-text-content .intro-img{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-img img{

    max-width: 100%;
    height: auto;
}

.what-content{

    max-width: 65rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

}